h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #cfcfcf;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  background-color: #9c9c9c;
  border: 1px solid #ffffff;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

tbody td {
  border: 5px solid #858383;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #d7d7df;
}

tbody tr:hover {
  background-color: #adadad;
}
